@page
@model Tech_Pursuit.Pages.Applications.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.JobId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.JobId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.CoverLetter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.CoverLetter)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Application?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
